/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* -------------------------------------- */

/* ==============
shared styles
================= */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

:root {
  --grad1: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  --primary-theme: #1a0b2e;
  --secondary-theme: #351165;
  --primary-theme-bg: #230e3d;
}

.flex {
  display: flex;
  align-items: center;
}

.primary-btn {
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background: var(--grad1);
  cursor: pointer;
}
/* ============================================== */

/* ----------body-------- */
body {
  background-color: var(--primary-theme);
}

/* ==============
Navigationbar styles
================= */
nav {
  background-color: var(--primary-theme);
  border-bottom: 5px solid var(--secondary-theme);
}

.navbar {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brand-name {
  font-size: 2rem;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.brand-logo-color {
  background: var(--grad1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* nav menu */
.nav-links {
  list-style: none;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
/*=============================================*/
